# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files
build/

# Debug files
test/

# IDEs
.vscode
.idea
*.code-workspace

# text files
*.txt
*.csv
# Non ignorare requirements.txt
!requirements.txt

# documentation
*.pdf

# images
*.png
*.jpg

#python
venv/

/build
/build/bin
build/bin/sraster
